<link rel="stylesheet" href="~/adminDashboard/vendors/bootstrap/dist/css/bootstrap.min.css">

<div class="card text-center w-75 mx-auto mt-5">
    <div class="card-header">
       ادمین پنل
    </div>
    <div class="card-body">
        <p class="card-text">برای وارد شدن به پنل ادمین  بر روی دکمه زیر کلیک کنید</p>
        <a asp-area="Accounting" asp-action="Login" asp-controller="Account" class="btn btn-primary">وارد شوید</a>
    </div>
    
</div>